{% load bootstrap4 %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% bootstrap_css %}
</head>
<body>
    <h2>Editar Vehículo</h2>
    <ul>
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li><a href="{% url 'contacto' %}">Contacto</a></li>
        <li><a href="{% url 'verVehiculos' %}">Ver Vehiculos</a></li>
    </ul>  

    <form action="" method="POST" id="formulario">
            {% csrf_token %}

            {{ form | crispy }}

            <button type="submit">Modificar</button>

            
    </form>
    <span style="color:green">{{ mensaje }}  </span>
</body>
</html>